<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>

    <title>Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <style type="text/css">
        html { height: 100% }
        body { height: 100%; margin: 0; padding: 0 }
        #map_canvas { height: 100% }
    </style>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8bSTvlDCh4hxfH3j6MKI-_Lj8Ym2AXJ0&sensor=true">
    </script>

    <script type="text/javascript" src="{{ url_for('static', filename='js/of.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/map.js') }}"></script>
  </head>

  <body>
    <header>
      <div class="container">
        <h1 id="siteLogo" class="logo">Flask App</h1>
        <strong><nav>
          <ul class="menu">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('map') }}">Map</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          </ul></nav>
        </strong>
      </div>
    </header> 
    {% block content %}
    {% endblock %} 
  </body>
</html>